In [1]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import time
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [2]:
from bs4 import BeautifulSoup
# The "requests" library makes working with HTTP requests easier
# than the built-in urllib libraries.
import requests

In [3]:
# here we access the webpage and download the content using requests
bom2015=requests.get("http://www.boxofficemojo.com/yearly/chart/?yr=2015&p=.htm")

In [48]:
# We'll just reuse the request object that was previously created to create a BeautifulSoup element.
soup = BeautifulSoup(bom2015.text, "html.parser")

# Find the relevant table. It's actully stored in a "td" on BoxOfficeMojos website.
movieTable = soup.find("td", attrs={"colspan":"3"})
movieRows = td.find("table").find_all("tr")[2:102]
# print movieRows[0]
print movieRows[0]

<tr bgcolor="#ffffff"><td align="center"><font size="2">1</font></td><td><b><font size="2"><a href="/movies/?id=jurassicpark4.htm">Jurassic World</a></font></b></td><td><font size="2"><a href="/studio/chart/?studio=universal.htm">Uni.</a></font></td><td align="right"><font size="2"><b>$652,175,130</b></font></td><td align="right"><font size="2">4,291</font></td><td align="right"><font size="2">$208,806,270</font></td><td align="right"><font size="2">4,274</font></td><td align="right"><font size="2"><a href="/schedule/?view=bydate&amp;release=theatrical&amp;date=2015-06-12&amp;p=.htm">6/12</a></font></td><td align="right"><font size="2">-</font></td></tr>

In [53]:
def rowInfoGrabber(r):
    info = []
    # Ranking
    info.append(int(r.find("font").get_text()))
    # Title
    info.append(r.find("a").get_text())
    # Gross
    info.append(int(r.find("td", attrs={"align":"right"}).find("b").get_text().strip("$").replace(",","")))
    # Total Number of Theaters
    info.append(int(r.find_all("td",attrs={"align":"right"})[1].find("font").get_text().replace(",","")))
    # Opening Cost
    info.append(int(r.find_all("td", attrs={"align":"right"})[2].find("font").get_text().strip("$").replace(",","")))
    # Opening Number of Theaters
    info.append(int(r.find_all("td", attrs={"align":"right"})[3].find("font").get_text().replace(",","")))
    # Date of Opening
    info.append(r.find_all("td", attrs={"align":"right"})[4].find("a").get_text())
    # Date of Closing
    info.append(r.find_all("td", attrs={"align":"right"})[5].find("font").get_text())
    return info
fields = ["ranking", "title", "gross", "total_theaters", "opening", "opening_theaters", "open", "close"]

movies = [dict(zip(fields, rowInfoGrabber(row))) for row in movieRows]

In [56]:
# Save the movie Dictionaries corresponding to each row of the BoxOfficeMojo table.
import json # (dong)

# movieRowDicts = open("movieRows.json","w")
# json.dump(movies, movieRowDicts)
# movieRowDicts.close()

In [59]:
# Relod the movie Dictionaries if necessary.
with open("movieRows.json", "r") as movieRowDicts:
    movies = json.load(movieRowDicts)

In [63]:
# Make a movie DataFrame.
movie_df = pd.DataFrame(movies)

In [64]:
movie_df.head()

  close      gross  open    opening  opening_theaters  ranking                    title  total_theaters
0     -  652175130  6/12  208806270              4274        1           Jurassic World            4291
1  10/8  459005868   5/1  191271109              4276        2  Avengers: Age of Ultron            4276
2     -  356002827  6/19   90440272              3946        3               Inside Out            4158
3  7/24  352786830   4/3  147187040              4004        4                Furious 7            4022
4     -  335478120  7/10  115718405              4301        5                  Minions            4311

In [1]:
#This is Alp - let's see if I have access